@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
  animation: fadein linear 1s;
  -webkit-animation: fadein linear 1s;
  -moz-animation: fadein linear 1s;
  -o-animation: fadein linear 1s;
  -ms-animation: fadein linear 1s;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: black;
  background-position: left top;
  background-repeat: repeat;
  height: 188px;
}

.navbar p {
  text-align: center;
}

.navbar img {
  max-width: 5%;
  max-height: 5%;
}

.navbar a {
  color: white;
  padding: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  position: relative;
  top: 12px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #d00000;
}

#active {
  background-color: #003049;
}

.bio {
  background-color: #d9d9d9;
  overflow: auto;
}

.bio h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
}

.bio img {
  width: 25%;
  height: 25%;
  padding-right: 25px;
  padding-bottom: 50px;
  float: left;
}

.bio p {
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: black;
  width: 100%;
  padding: 0;
  height: 80px;
}

.socials {
  text-align: center;
}

.fa {
  color: white;
  font-size: 30px;
  padding: 10px;
  text-decoration: none;
  border-radius: 50px;
}

.fa:hover {
  font-size: 40px;
  opacity: 0.6;
}

.fa-instagram {
  background-color: #125688;
}

.fa-twitter {
  background-color: #55acee;
}

.fa-snapchat-ghost {
  background-color: #fffc00;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
